@import "tailwindcss";



@theme {
  --font-title: "EB Garamond", serif;
  --font-main: "Raleway", sans-serif;
  --breakpoint-3xl: 120rem;
  --color-bg: #EFEDE8;
  --color-white: #EFEDE8;
  --color-gray: #3F3F3F;
  --color-red: #83372A;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --color-red_hover: #A67469;
  /* ... */
}


/* .content{
  display: grid;
  grid-template-columns: max-content;
  text-align: center;
  justify-content: center;
}

.curtains{
  display: grid;
  grid-template-columns:auto ;
  gap: 900px;
  
} */

@keyframes move-left {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-70%);
  }
}

.theater:hover .curtain1 {
  animation-play-state: running;
}

.curtain1 {
  animation: move-left 3s 1 both;
  animation-play-state: paused;
}


@keyframes move-right {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(70%);
  }
}

.theater:hover .curtain2 {
  animation-play-state: running;
}

.curtain2 {
  animation: move-right 3s 1 both;
  animation-play-state: paused;
}


@keyframes hiden-show {
  from{
   opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.theater:hover .text-show {
 animation-fill-mode: forwards;
}

.text-show {
 animation: hiden-show 0.3s forwards;

}